/* Light Theme Styles */
body.light {
  background-color: #ffffff;
  color: #333;
}

button.light {
  background-color: #fff;
  color: #333;
  border-color: #ccc;
}

/* Dark Theme Styles */
body.dark {
  background-color: #121212;
  color: #fff;
}

button.dark {
  background-color: #333;
  color: #fff;
  border-color: #444;
}
