:root {
  --bg-color: white;
  --text-color: black;
}

[data-theme="dark"] {
  --bg-color: #242424;
  --text-color: white;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background 0.3s, color 0.3s;
  text-align: center;
}

.app {
  margin-top: 50px;
  margin-left: 70px;
}

.theme-button {
  padding: 10px 20px;
  border: none ;
  cursor: pointer;
  background: var(--text-color);
  color: var(--bg-color);
  border-radius: 10px;
  font-size: 16px;
}
