:root {
  --bg-color: white;
  --text-color: black;
}

[data-theme="dark"] {
  --bg-color: black;
  --text-color: white;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease;
}

button {
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  margin: 10px;
  background-color: var(--text-color);
  color: var(--bg-color);
  border-radius: 5px;
}
