/* Background overlay */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(35, 93, 87, 0.809);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Modal Box */
.modal-content {
  background: rgb(237, 195, 195);
  padding: 20px;
  border-radius: 8px;
  height:300px;
  width: 600px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(68, 101, 150, 0.1);
}

/* Header */
.modal-header {
  display: flex;
  justify-content:space-between;
  align-items: center;
  color: rgb(70, 118, 103);
}

/* Close Button */
.close-button {
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
}
p{
  color: rgb(111, 56, 43);
  font-weight: 1000;
  font-size: 30px;
}
