
.app {
  text-align: center;
  padding: 2rem;
  background-color: #fcefee;
}


button {
  padding: 0.5rem 1rem;
  background-color: #ff6b6b;
  color: white;
  border: 2px solid #ff4757;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
  transition: all 0.3s ease-in-out;
}

button:hover {
  background-color: #ff4757;
  border-color: #e84118;
}


.modal-overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}


.modal {
  background-color: #ffda79;
  border-radius: 12px;
  width: 80%;
  max-width: 500px;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  border: 3px solid #ffa502;
}


.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-bottom: 2px solid #ffa502;
  background-color: #ff7f50;
  color: white;
}

.modal-header h3 {
  margin: 0;
  font-size: 1.5rem;
}


.close-button {
  background: none;
  border: 2px solid transparent;
  font-size: 1.5rem;
  cursor: pointer;
  color: white;
  padding: 0.3rem 0.6rem;
  border-radius: 6px;
  transition: all 0.3s ease-in-out;
}

.close-button:hover {
  color: #2f3542;
  background-color: #ffa502;
  border-color: white;
}


.modal-body {
  padding: 1rem;
  line-height: 1
}