.modal-overlay{
    padding: 2rem;
    border-radius: 8px;        
    max-width: 500px;
    width: 90%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    
    background-color: white;   
    color: black;              
    border: 5px solid red;      
  }
  