.accordion {
  width: 100%;
  max-width: 600px;
  margin: auto;
  align-items: center;
}

.accordion-item {
  border-bottom: 1px solid #000000;
}

.accordion-header {
  width: 100%;
  padding: 10px;
  font-size: 1.2rem;
  text-align: left;
  background: #f7f7f7;
  border: none;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.accordion-content {
  padding: 10px;
  background: #e4cfcf;
  border-top: 1px solid #6d4343;
}
